@model SolicitudesMVC.Models.Solicitud

@{
    ViewData["Title"] = "Registro de Solicitud";
}

<h1>Registro de Solicitud</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdAlumno" class="control-label">Alumno</label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.Alumno"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label">Fecha de registro</label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CodRegistrante" class="control-label">Código de Registrante</label>
                <input asp-for="CodRegistrante" class="form-control" />
                <span asp-validation-for="CodRegistrante" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Carrera" class="control-label">Carrera</label>
                <select asp-for="Carrera" class="form-control" asp-items="ViewBag.Carrera"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Periodo" class="control-label">Periodo</label>
                <select asp-for="Periodo" class="form-control" asp-items="ViewBag.Periodo"></select>
            </div>

            @* <div class="form-group">
                <label asp-for="Curso" class="control-label">Cursos</label>
                <select asp-for="Curso" class="form-control" asp-items="ViewBag.Curso"></select>
            </div>
            <div class="form-group">
                <label asp-for="Profesor" class="control-label">Profesor</label>
                <select asp-for="Profesor" class="form-control" asp-items="ViewBag.Profesor"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Aula" class="control-label">Aula</label>
                <select asp-for="Aula" class="form-control" asp-items="ViewBag.Aula"></select>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Sede" class="control-label">Sede</label>
                <select asp-for="Sede" class="form-control" asp-items="ViewBag.Sede"></select>
            </div>*@
            <br />

            <br />  
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
        <br />
    </div>
    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
            if (confirm("@ViewData["Message"]")) {
                history.back();
            }
            else {
                history.back();
            }
        </script>
    }
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Regresar al Menú Principal</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
