@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de registro de solicitudes.</h1>
    <h4 class="display-4">Por favor selecciona una opción del menú.</h4>
 @*   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
